LANGUAGE LANG_ARABIC, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "حفظ"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "إسم المستخدم:"
//  IDS_PASSWORD,                   "كلمة المرور:"
//  IDS_CHECKSAVE,                  "حفظ"
    IDS_TITLE,                      "Elurair - محدث/مشغل"
    IDS_OK,                         "أبدء"
    IDS_CLOSE,                      "أغلق"
    IDS_USER_NONE_FMT,              "من فضلك أدخل اسم المستخدم، إسم المستخدم يجب أن يكون %u حروف على الأقل."
    IDS_USER_SHRT_FMT,              "إسم المستخدم يجب أن يكون %u حروف على الأقل، من فضلك أعد المحاولة."
    IDS_PASS_NONE_FMT,              "من فضلك أدخل كلمة المرور، كلمة المرور يجب أن تكون %u حروف على الأقل."
    IDS_PASS_SHRT_FMT,              "كلمة المرور يجب أن تكون %u حروف على الأقل، من فضلك أعد المحاولة."
    IDS_EXE_ERROR,                  "فشل تشغيل مشغل اللعبة.\n\nالأمر:\n\t""%s"" %s\n\nأخر خطاء:\n\t%s"
    IDS_CONFIG_ERROR,               "فشلت تهيئة الإعدادات."
    IDS_MISCINFO_PROMPT_PREFIX,     "في كل مرة تسجل الدخول بعض المعلومات سترسل لمزود الخدمة كجزء من عملية الولوج.\n\nما يأتي هو ما يتم مشاركتة:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "هل توافق على مشاركة هذة البيانات؟ في حال أخترت 'لا' لن يمكنك تسجيل الدخول حتى توافق."
    IDS_MISCINFO_OPT_MACADDRESS,    "MAC address (معرف لبطاقة الانترنت الرئيسية)"
    IDS_COINIT_ERROR,               "فشلت تهيئة COM."
    IDS_SALT_ERROR,                 "Configuration specifies a salt, but the password position is not specified. Cannot log-in."
    IDS_SALT_SLASH_ERROR,           "Configuration specifies a salt, but the escape sequences are erroneous. Cannot log-in."
    IDS_OUTOFMEMORY,                "Out of memory."
    IDS_E_THREADPOOL_CREATE,        "Failed to create worker manager."
    IDS_E_THREADPOOL_QUEUE,         "Failed to register patch process."
    IDS_I_THREADPOOL_STARTING,      "جاري بدء التحديث..."
    IDS_I_GETTING_FMT,              "تحميل %s..."
    IDS_E_WRITING_FMT,              "فشل كتابة %s"
    IDS_E_OPENING_FMT,              "فشل فتح %s"
    IDS_E_LISTPARSE_FMT,            "فشل تحليل %s في السطر %u"
    IDS_E_NOHAN_FMT,                "No handler for %s"
    IDS_I_COMPLETE,                 "تم التحديث."
    IDS_I_COMPLETE_FMT,             "Patch process complete at %lu." // DEV
    IDS_I_CREATING_FMT,             "جاري انشاء %s..."
    IDS_E_CREATING_FMT,             "فشل انشاء %s"
    IDS_I_WRITING_FMT,              "جاري كتابة %s..."
    IDS_I_UNPACKING_FMT,            "جاري فك ضغط %s..."
    IDS_E_UNPACKING_FMT,            "فشل فك ضغط %s"
    IDS_I_PROCESSING_FMT,           "جاري معالجة %s..."
    IDS_E_PROCESSING_FMT,           "فشلت معالجة %s"
    IDS_E_PROCESSING2_FMT,          "فشلت معالجة %s (%X)"
    IDS_E_GETTING_FMT,              "فشل تحميل %s"
    IDS_I_OPENING_FMT,              "جاري فتح %s..."
    IDS_I_COMMITTING_FMT,           "جاري حفظ التعديلات لـ  %s..."
    IDS_E_COMMITTING_FMT,           "فشل حفظ التعديلات لـ %s"
    IDS_E_HANDLING_FMT,             "Failed to handle %s (%X)"
    IDS_HANDLER_ERROR,              "Failed to initialize handlers."
    IDS_I_PATCHINPROGRESS,          "من فضلك أنتظر حتى تنتهي عملية التحديث."
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "تم تحديث محدث اللعبة، سيتم إعادة تشغيلة."
    IDS_E_PATCHISROTTEN,            "عملية التحديث فشلت، الرجاء المحاولة مجددًا."
    IDS_I18N_AUTHOR,                "Ema/Hercules"
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "جاري حذف %s..."
    IDS_E_PATCHISROTTEN_USER,       "فشلت عملية التحديث. من فضلك قم بإعادة تشغيل المحدث او جرب في وقت لاحق."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "فشلت عملية إنشاء اختصار سطح المكتب (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "فشلت عملية تشغل اللعبة (rune=%c, code=%08X)."
END
