LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "Merken"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Benutzername:"
//  IDS_PASSWORD,                   "Kennwort:"
//  IDS_CHECKSAVE,                  "Merken"
    IDS_TITLE,                      "Elurair - Updater/Launcher"
    IDS_OK,                         "Start"
    IDS_CLOSE,                      "Schließen"
    IDS_USER_NONE_FMT,              "Bitte Benutzernamen eingeben. Benutzername muss mindestens %u Zeichen lang sein."
    IDS_USER_SHRT_FMT,              "Benutzername muss mindestens %u Zeichen lang sein. Bitte neu versuchen."
    IDS_PASS_NONE_FMT,              "Bitte Kennwort eingeben. Kennwort muss mindestens %u Zeichen lang sein."
    IDS_PASS_SHRT_FMT,              "Kennwort muss mindestens %u Zeichen lang sein. Bitte neu versuchen."
    IDS_EXE_ERROR,                  "Klient konnte nicht gestartet werden.\n\nKommandozeile:\n\t""%s"" %s\n\nLetzter Fehler:\n\t%s"
    IDS_CONFIG_ERROR,               "Einstellungen konnten nicht initialisiert werden."
    IDS_MISCINFO_PROMPT_PREFIX,     "Jedesmal wenn du dich einloggst, werden zusammen mit deinen Anmeldungsdaten, Informationen an den Server weitergegeben.\n\nFolgende Informationen werden geteilt:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "Bist du damit einverstanden, diese Informationen weiterzugeben? Wenn du 'Nein' wählst, wirst du nicht einloggt und wirst auch nicht einloggen können, bis du einverstanden bist."
    IDS_MISCINFO_OPT_MACADDRESS,    "MAC Adresse (Hardware-Kennung des primären Netzwerk-Adapters)"
    IDS_COINIT_ERROR,               "COM Initialisierung fehlgeschlagen."
    IDS_SALT_ERROR,                 "In der Konfiguration ist ein Salt angegeben, aber die Kennwort-Position fehlt. Einloggen nicht möglich."
    IDS_SALT_SLASH_ERROR,           "In der Konfiguration ist ein Salt angegeben, aber die Escape-Sequenzen sind fehlerhaft. Einloggen nicht möglich."
    IDS_OUTOFMEMORY,                "Nicht genügend Arbeitsspeicher."
    IDS_E_THREADPOOL_CREATE,        "Worker-Manager kann nicht erstellt werden."
    IDS_E_THREADPOOL_QUEUE,         "Patch-Prozess kann nicht registriert werden."
    IDS_I_THREADPOOL_STARTING,      "Patch-Prozess wird gestartet..."
    IDS_I_GETTING_FMT,              "Lade %s..."
    IDS_E_WRITING_FMT,              "%s konnte nicht geschrieben werden"
    IDS_E_OPENING_FMT,              "%s konnte nicht geöffnet werden"
    IDS_E_LISTPARSE_FMT,            "Verarbeitungsfehler von %s auf Zeile %u"
    IDS_E_NOHAN_FMT,                "Kein Verarbeiter für %s vorhanden"
    IDS_I_COMPLETE,                 "Patch-Prozess fertig."
    IDS_I_CREATING_FMT,             "Erstelle %s..."
    IDS_E_CREATING_FMT,             "%s konnte nicht erstellt werden"
    IDS_I_WRITING_FMT,              "Schreibe %s..."
    IDS_I_UNPACKING_FMT,            "Entpacke %s..."
    IDS_E_UNPACKING_FMT,            "%s konnte nicht entpackt werden"
    IDS_I_PROCESSING_FMT,           "Verarbeite %s..."
    IDS_E_PROCESSING_FMT,           "%s konnte nicht verarbeitet werden"
    IDS_E_PROCESSING2_FMT,          "%s konnte nicht verarbeitet werden (%X)"
    IDS_E_GETTING_FMT,              "%s konnte nicht geladen werden"
    IDS_I_OPENING_FMT,              "Öffne %s..."
    IDS_I_COMMITTING_FMT,           "Schließe %s..."
    IDS_E_COMMITTING_FMT,           "%s konnte nicht abgeschlossen werden"
    IDS_HANDLER_ERROR,              "Verarbeiter konnten nicht initialisiert werden."
    IDS_I_PATCHINPROGRESS,          "Bitte warten bis der Patch-Prozess abgeschlossen ist."
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "Patcher wurde aktualisiert und wird neugestartet."
    IDS_E_PATCHISROTTEN,            "Patch-Prozess hat fehlgeschlagen und kann in nicht-definiertem Zustand sein. Bitte später nochmal versuchen."
    IDS_I18N_AUTHOR,                "Ai4rei/AN"
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "Lösche %s..."
    IDS_E_PATCHISROTTEN_USER,       "Patch-Prozess wurde nicht erfolgreich abgeschlossen. Starte den Patcher bitte neu oder versuche es später nochmal."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Desktop-Verknüpfung konnte nicht erstellt werden (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Verarbeitung externer Aufrufargumente hat fehlgeschlagen (rune=%c, code=%08X)."
END
