STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "Guardar"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Usuario:"
//  IDS_PASSWORD,                   "Contraseña:"
//  IDS_CHECKSAVE,                  "Guardar"
    IDS_TITLE,                      "Elurair - Actualizador/Lanzador"
    IDS_OK,                         "Iniciar"
    IDS_CLOSE,                      "Cerrar"
    IDS_USER_NONE_FMT,              "Introduzca un nombre de usuario. El nombre de usuario debe tener un mínimo de %u caracteres."
    IDS_USER_SHRT_FMT,              "El nombre de usuario debe tener un mínimo de %u caracteres. Inténtelo de nuevo."
    IDS_PASS_NONE_FMT,              "Introduzca una contraseña. La contraseña debe tener un mínimo de %u caracteres."
    IDS_PASS_SHRT_FMT,              "La contraseña debe tener un mínimo de %u caracteres. Inténtelo de nuevo"
    IDS_EXE_ERROR,                  "Error al iniciar cliente.\n\nLínea de comandos:\n\t""%s"" %s\n\nÚltimo error:\n\t%s"
    IDS_CONFIG_ERROR,               "Error al iniciar configuración."
    IDS_MISCINFO_PROMPT_PREFIX,     "En cada inicio de sesión ciertos datos se harán disponibles al servidor como parte de las credenciales de autenticación.\n\nSe compartirá la siguiente información:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "¿Acepta compartir estos datos? Si elige 'No' no se autenticará y no podrá autenticarse hasta que acepte."
    IDS_MISCINFO_OPT_MACADDRESS,    "Dirección MAC"
    IDS_COINIT_ERROR,               "Error al inicializar COM."
    IDS_SALT_ERROR,                 "La configuración requiere sal criptográfica, pero la posición de la contraseña no se ha especificado. No se puede iniciar sesión."
    IDS_SALT_SLASH_ERROR,           "La configuración requiere sal criptográfica, pero las secuencias de escape son erróneas. No puede iniciar sesión."
    IDS_OUTOFMEMORY,                "Sin memoria."
    IDS_E_THREADPOOL_CREATE,        "Error al crear gestor de hilos."
    IDS_E_THREADPOOL_QUEUE,         "Error al registrar proceso de actualización."
    IDS_I_THREADPOOL_STARTING,      "Iniciando proceso de actualización..."
    IDS_I_GETTING_FMT,              "Obteniendo %s..."
    IDS_E_WRITING_FMT,              "Error al escribir %s"
    IDS_E_OPENING_FMT,              "Error al abrir %s"
    IDS_E_LISTPARSE_FMT,            "Error al analizar %s en línea %u"
    IDS_E_NOHAN_FMT,                "No se encontró manejador para %s"
    IDS_I_COMPLETE,                 "Proceso de actualización completo."
    IDS_I_CREATING_FMT,             "Creando %s..."
    IDS_E_CREATING_FMT,             "Error al crear %s"
    IDS_I_WRITING_FMT,              "Escribiendo %s..."
    IDS_I_UNPACKING_FMT,            "Desempaquetando %s..."
    IDS_E_UNPACKING_FMT,            "Error al desempaquetar %s"
    IDS_I_PROCESSING_FMT,           "Procesando %s..."
    IDS_E_PROCESSING_FMT,           "Error al procesar %s"
    IDS_E_PROCESSING2_FMT,          "Error al procesar %s (%X)"
    IDS_E_GETTING_FMT,              "Error al obtener %s"
    IDS_I_OPENING_FMT,              "Abriendo %s..."
    IDS_I_COMMITTING_FMT,           "Aplicando %s..."
    IDS_E_COMMITTING_FMT,           "Error al aplicar %s"
    IDS_HANDLER_ERROR,              "Error al inicializar manejadores."
    IDS_I_PATCHINPROGRESS,          "Por favor, espere hasta que el proceso de actualización finalice."
    //IDS_E_CONFIG_NOT_READY,         "La configuración no está disponible.\nCompruebe la documentación e inténtelo de nuevo." // DEV
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "El lanzador se ha actualizado y se reiniciará."
    IDS_E_PATCHISROTTEN,            "El proceso de actualización ha fallado y puede encontrarse en un estado incongruente. Inténtelo de nuevo más tarde."
    IDS_I18N_AUTHOR,                "csnv"
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "Eliminando %s..."
    IDS_E_PATCHISROTTEN_USER,       "El proceso de actualización no se completó correctamente. Por favor, reinicie o intente de nuevo más tarde."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Error al crear el acceso directo en el escritorio (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Error al procesar los argumentos externos (rune=%c, code=%08X)."
END
