LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "Sauvegarder"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Nom de compte:"
//  IDS_PASSWORD,                   "Mot de passe:"
//  IDS_CHECKSAVE,                  "Sauvegarder"
    IDS_TITLE,                      "Elurair - Lanceur/Mise à Jour"
    IDS_OK,                         "Lancer"
    IDS_CLOSE,                      "Fermer"
    IDS_USER_NONE_FMT,              "Veuillez entrer un nom de compte. Le nom de compte doit contenir au moins %u caractères."
    IDS_USER_SHRT_FMT,              "Le nom de compte doit contenir au moins %u caractères. Veuillez réessayer."
    IDS_PASS_NONE_FMT,              "Veuillez entrer un mot de passe. Le mot de passe doit contenir au moins %u caractères."
    IDS_PASS_SHRT_FMT,              "Le mot de passe doit contenir au moins %u caractères. Veuillez réessayer."
    IDS_EXE_ERROR,                  "Impossible de lancer le client.\n\nCommand Line:\n\t""%s"" %s\n\nLast Error:\n\t%s"
    IDS_CONFIG_ERROR,               "Échec d'initialisation de la configuration."
    IDS_MISCINFO_PROMPT_PREFIX,     "A chaque connexion, des informations seront envoyées au serveur à des fins d'authentification.\n\nLes informations suivantes seront partagées:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "Consentez vous à partager ces informations ? Si vous choisissez 'Non', vous ne pourrez pas vous connecter sans accepter."
    IDS_MISCINFO_OPT_MACADDRESS,    "Adresse MAC (Identification matériel du premier adaptateur réseau)"
    IDS_COINIT_ERROR,               "Initialisation COM échouée."
    IDS_SALT_ERROR,                 "La configuration exige un salt, mais la position du mot de passe n'est pas précisée. Connexion impossible."
    IDS_SALT_SLASH_ERROR,           "La configuration exige un salt, mais la séquence d'échappement est erronée. Connexion impossible."
    IDS_OUTOFMEMORY,                "Mémoire insuffisante."
    IDS_E_THREADPOOL_CREATE,        "Échec de la création du manager de tâche."
    IDS_E_THREADPOOL_QUEUE,         "Échec de l'enregistrement du processus de mise à jour."
    IDS_I_THREADPOOL_STARTING,      "Mise à jour en cours..."
    IDS_I_GETTING_FMT,              "Récupération de %s..."
    IDS_E_WRITING_FMT,              "Échec lors de l'écriture de %s"
    IDS_E_OPENING_FMT,              "Échec lors de l'ouverture de %s"
    IDS_E_LISTPARSE_FMT,            "Échec de l'analyse de %s à la ligne %u"
    IDS_E_NOHAN_FMT,                "Prise en charge de %s impossible"
    IDS_I_COMPLETE,                 "Mise à jour terminée."
    IDS_I_CREATING_FMT,             "Création de %s..."
    IDS_E_CREATING_FMT,             "Échec lors de la création de %s"
    IDS_I_WRITING_FMT,              "Écriture de %s..."
    IDS_I_UNPACKING_FMT,            "Décompression de %s..."
    IDS_E_UNPACKING_FMT,            "Échec de la décompression de %s"
    IDS_I_PROCESSING_FMT,           "Traitement de %s..."
    IDS_E_PROCESSING_FMT,           "Échec du traitement de %s"
    IDS_E_PROCESSING2_FMT,          "Échec du traitement de %s (%X)"
    IDS_E_GETTING_FMT,              "Échec lors de la récupération de %s"
    IDS_I_OPENING_FMT,              "Ouverture de %s..."
    IDS_I_COMMITTING_FMT,           "Inscription de %s..."
    IDS_E_COMMITTING_FMT,           "Échec d'inscription de %s"
    IDS_HANDLER_ERROR,              "Échec d'initialisation de la prise en charge."
    IDS_I_PATCHINPROGRESS,          "Veuillez attendre que les mises à jours soient terminées."
    //IDS_E_CONFIG_NOT_READY,         "La configuration n'est pas prête.\nVérifiez la documentation pour plus d'informations." // DEV
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "Le Patcheur a été mis à jour et va redémarrer."
    IDS_E_PATCHISROTTEN,            "Le processus de mise à jour échouée et est dans un état inconnu. Veuillez réessayer ultérieurement."
    IDS_I18N_AUTHOR,                "RadK"
    //IDS_DEBUG_MPVIEW_ERROR_FMT,     "Érreur de média de fond (hr=0x%08X)." // DEV
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "Suppression de %s..."
    IDS_E_PATCHISROTTEN_USER,       "La mise à jour ne s'est pas correctement terminée. Veuillez relancer ou réessayer plus-tard."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Échec lors de la création d'un raccourci sur le bureau (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Échec lors de l'éxécution d'arguments externes. (rune=%c, code=%08X)."
END
