STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "Salva"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Nome utente:"
//  IDS_PASSWORD,                   "Password:"
//  IDS_CHECKSAVE,                  "Salva"
    IDS_TITLE,                      "Elurair - Aggiornatore/Avviatore"
    IDS_OK,                         "Avvia"
    IDS_CLOSE,                      "Chiudi"
    IDS_USER_NONE_FMT,              "Inserisci un nome utente. Il nome utente deve avere almeno %u caratteri."
    IDS_USER_SHRT_FMT,              "Il nome utente deve avere almeno %u caratteri. Riprova."
    IDS_PASS_NONE_FMT,              "Inserisci una password. La password deve avere almeno %u caratteri."
    IDS_PASS_SHRT_FMT,              "La password deve avere almeno %u caratteri. Riprova."
    IDS_EXE_ERROR,                  "Errore durante l'avvio del client.\n\nRiga di comando:\n\t""%s"" %s\n\nUltimo errore:\n\t%s"
    IDS_CONFIG_ERROR,               "Errore durante l'avvio della configurazione."
    IDS_MISCINFO_PROMPT_PREFIX,     "A ogni accesso, alcuni dati saranno resi disponibili al server come parte delle credenziali di autenticazione.\n\nSaranno condivise le seguenti informazioni:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "Accetti di condividere questi dati? Se scegli 'No' non verrai autenticato e non potrai autenticarti fino a quando non accetterai."
    IDS_MISCINFO_OPT_MACADDRESS,    "Indirizzo MAC"
    IDS_COINIT_ERROR,               "Errore durante l'inizializzazione di COM."
    IDS_SALT_ERROR,                 "La configurazione richiede un salt crittografico, ma la posizione della password non è stata specificata. Impossibile accedere."
    IDS_SALT_SLASH_ERROR,           "La configurazione richiede un salt crittografico, ma le sequenze di escape sono errate. Impossibile accedere."
    IDS_OUTOFMEMORY,                "Memoria insufficiente."
    IDS_E_THREADPOOL_CREATE,        "Errore durante la creazione del gestore di thread."
    IDS_E_THREADPOOL_QUEUE,         "Errore durante la registrazione del processo di aggiornamento."
    IDS_I_THREADPOOL_STARTING,      "Avvio del processo di aggiornamento..."
    IDS_I_GETTING_FMT,              "Recupero di %s..."
    IDS_E_WRITING_FMT,              "Errore durante la scrittura di %s"
    IDS_E_OPENING_FMT,              "Errore durante l'apertura di %s"
    IDS_E_LISTPARSE_FMT,            "Errore durante l'analisi di %s alla riga %u"
    IDS_E_NOHAN_FMT,                "Nessun gestore trovato per %s"
    IDS_I_COMPLETE,                 "Processo di aggiornamento completato."
    IDS_I_CREATING_FMT,             "Creazione di %s..."
    IDS_E_CREATING_FMT,             "Errore durante la creazione di %s"
    IDS_I_WRITING_FMT,              "Scrittura di %s..."
    IDS_I_UNPACKING_FMT,            "Decompressione di %s..."
    IDS_E_UNPACKING_FMT,            "Errore durante la decompressione di %s"
    IDS_I_PROCESSING_FMT,           "Elaborazione di %s..."
    IDS_E_PROCESSING_FMT,           "Errore durante l'elaborazione di %s"
    IDS_E_PROCESSING2_FMT,          "Errore durante l'elaborazione di %s (%X)"
    IDS_E_GETTING_FMT,              "Errore durante il recupero di %s"
    IDS_I_OPENING_FMT,              "Apertura di %s..."
    IDS_I_COMMITTING_FMT,           "Applicazione di %s..."
    IDS_E_COMMITTING_FMT,           "Errore durante l'applicazione di %s"
    IDS_E_HANDLING_FMT,             "Impossibile gestire %s (%X)"
    IDS_HANDLER_ERROR,              "Errore durante l'inizializzazione dei gestori."
    IDS_I_PATCHINPROGRESS,          "Attendere il completamento del processo di aggiornamento."
    //IDS_E_CONFIG_NOT_READY,         "La configurazione non è disponibile.\nVerifica la documentazione e riprova." // DEV
    IDS_E_CONFIG_NOT_READY,         "La configurazione non è pronta.\nSi prega di consultare la documentazione e riprovare." // DEV
    IDS_I_SELFUPDATE,               "L'avviatore è stato aggiornato e verrà riavviato."
    IDS_E_PATCHISROTTEN,            "Il processo di aggiornamento non è riuscito e potrebbe trovarsi in uno stato inconsistente. Riprova più tardi."
    IDS_I18N_AUTHOR,                "TarArAis"
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Errore nel motore multimediale (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "Eliminazione di %s..."
    IDS_E_PATCHISROTTEN_USER,       "Il processo di aggiornamento non è stato completato correttamente. Riavvia o riprova più tardi."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Errore durante la creazione del collegamento sul desktop (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Errore durante l'elaborazione degli argomenti esterni (rune=%c, code=%08X)."
END