LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "Salvar"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Usuário:"
//  IDS_PASSWORD,                   "Senha:"
//  IDS_CHECKSAVE,                  "Salvar"
    IDS_TITLE,                      "Elurair - Updater/Launcher"
    IDS_OK,                         "Iniciar"
    IDS_CLOSE,                      "Fechar"
    IDS_USER_NONE_FMT,              "Por favor, entre com o Usuário. O Usuário deve ter ao menos %u caracteres."
    IDS_USER_SHRT_FMT,              "O Usuário deve ter ao menos %u caracteres. Por favor, tente novamente."
    IDS_PASS_NONE_FMT,              "Por favor, entre com a Senha. A Senha deve ter ao menos %u caracteres."
    IDS_PASS_SHRT_FMT,              "A Senha deve ter ao menos %u caracteres. Por favor, tente novamente."
    IDS_EXE_ERROR,                  "Falha ao iniciar o Client.\n\nLinha de Comando:\n\t""%s"" %s\n\nÚltimo Erro:\n\t%s"
    IDS_CONFIG_ERROR,               "Falha ao iniciar a configuração."
    IDS_MISCINFO_PROMPT_PREFIX,     "Toda vez que você loga, as informações serão enviadas ao servidor como parte da verificação.\n\nAs Seguintes informações serão compartilhadas:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "Você concorda em prover estas informações? Se você escolher 'Não', você não será capaz de logar, até que esteja de acordo."
    IDS_MISCINFO_OPT_MACADDRESS,    "Endereço MAC (hardware identification of the primary network adapter)"
    IDS_COINIT_ERROR,               "Falha ao inicializar COM(Component Object Model)."
    IDS_SALT_ERROR,                 "Configuração especificou a criptografia, mas a posição da senha não foi definida. Não é possível logar."
    IDS_SALT_SLASH_ERROR,           "Configuração especificou a criptografia, mas a posição da sequência de escape não foi definida. Não é possível logar."
    IDS_OUTOFMEMORY,                "Sem memória."
    IDS_E_THREADPOOL_CREATE,        "Falha ao criar thread."
    IDS_E_THREADPOOL_QUEUE,         "Falha ao registrar processo."
    IDS_I_THREADPOOL_STARTING,      "Iniciando processo de atualização..."
    IDS_I_GETTING_FMT,              "Baixando %s..."
    IDS_E_WRITING_FMT,              "Falha ao sobrescrever %s"
    IDS_E_OPENING_FMT,              "Falha ao abrir %s"
    IDS_E_LISTPARSE_FMT,            "Falha ao sobrescrever %s na linha %u"
    IDS_E_NOHAN_FMT,                "Sem handler para %s"
    IDS_I_COMPLETE,                 "Processo de atualização finalizado"
    IDS_I_CREATING_FMT,             "Criando %s..."
    IDS_E_CREATING_FMT,             "Falha ao criar %s"
    IDS_I_WRITING_FMT,              "Sobrescrevendo %s..."
    IDS_I_UNPACKING_FMT,            "Extraindo %s..."
    IDS_E_UNPACKING_FMT,            "Falha ao extrair %s"
    IDS_I_PROCESSING_FMT,           "Processando %s..."
    IDS_E_PROCESSING_FMT,           "Falha ao processar %s"
    IDS_E_PROCESSING2_FMT,          "Falha ao processar %s (%X)"
    IDS_E_GETTING_FMT,              "Falha ao baixar %s"
    IDS_I_OPENING_FMT,              "Abrindo %s..."
    IDS_I_COMMITTING_FMT,           "Fazendo commit %s..."
    IDS_E_COMMITTING_FMT,           "Falha ao commitar %s"
    IDS_E_HANDLING_FMT,             "Failed to handle %s (%X)"
    IDS_HANDLER_ERROR,              "Falha ao inicializar os Handlers."
    IDS_I_PATCHINPROGRESS,          "Por favor, aguarde até que o processo de atualização termine."
    //IDS_E_CONFIG_NOT_READY,         "Configuração pendente.\nLeia a documentação e tente novamente." // DEV
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "O Launcher foi atualizado e será reiniciado."
    IDS_E_PATCHISROTTEN,            "O Processo de atualização falhou e está em erro indefinido. Por favor, tente novamente."
    IDS_I18N_AUTHOR,                "MYIK"
    //IDS_DEBUG_MPVIEW_ERROR_FMT,     "Falha ao carregar a Mídia do Background (hr=0x%08X)." // DEV
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "Deletando %s..."
    IDS_E_PATCHISROTTEN_USER,       "Patch process did not complete successfully. Please restart or try again later."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Failed to create shortcut link on desktop (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Failed to process external arguments (rune=%c, code=%08X)."
END
