LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED  // CHINA

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "记住"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Username:"
//  IDS_PASSWORD,                   "Password:"
//  IDS_CHECKSAVE,                  "Save"
    IDS_TITLE,                      "Elurair - Updater/Launcher"
    IDS_OK,                         "开始"
    IDS_CLOSE,                      "关闭"
    IDS_USER_NONE_FMT,              "请输入账号，长度必须至少为 %u 个字符。"
    IDS_USER_SHRT_FMT,              "账号长度必须至少为 %u 个字符，请重新输入。"
    IDS_PASS_NONE_FMT,              "请输入密码，长度必须至少为 %u 个字符。"
    IDS_PASS_SHRT_FMT,              "密码长度必须至少为 %u 个字符，请重新输入。"
    IDS_EXE_ERROR,                  "无法启动客户端.\n\nCommand Line:\n\t""%s"" %s\n\nLast Error:\n\t%s"
    IDS_CONFIG_ERROR,               "初始化配置失败"
    IDS_MISCINFO_PROMPT_PREFIX,     "每当您登入时，身份验证凭据的一部分信息将提供给服务器。\n\n将共享以下信息:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "您同意提供这些信息吗? 如果您选择 'No'，您将无法登入，直到您同意为止。"
    IDS_MISCINFO_OPT_MACADDRESS,    "MAC 地址 (主网卡的硬件识别)"
    IDS_COINIT_ERROR,               "COM 初始化失败"
    IDS_SALT_ERROR,                 "配置了指定 salt，但没有指定密码位置，无法登入。"
    IDS_SALT_SLASH_ERROR,           "配置了指定 salt，但转义序列是错误的，无法登入。"
    IDS_OUTOFMEMORY,                "内存溢出"
    IDS_E_THREADPOOL_CREATE,        "无法创建工作管理员"
    IDS_E_THREADPOOL_QUEUE,         "无法注册更新程序"
    IDS_I_THREADPOOL_STARTING,      "正在启动更新程序..."
    IDS_I_GETTING_FMT,              "获取文件 %s..."
    IDS_E_WRITING_FMT,              "无法写入 %s"
    IDS_E_OPENING_FMT,              "无法打开 %s"
    IDS_E_LISTPARSE_FMT,            "无法解析 %s 在第 %u 行"
    IDS_E_NOHAN_FMT,                "没有处理程序 %s"
    IDS_I_COMPLETE,                 "更新完毕"
    IDS_I_CREATING_FMT,             "创建 %s 中..."
    IDS_E_CREATING_FMT,             "%s 创建失败"
    IDS_I_WRITING_FMT,              "写入 %s 中..."
    IDS_I_UNPACKING_FMT,            "解压 %s 中..."
    IDS_E_UNPACKING_FMT,            "%s 解压失败"
    IDS_I_PROCESSING_FMT,           "处理 %s 中..."
    IDS_E_PROCESSING_FMT,           "%s 处理失败"
    IDS_E_PROCESSING2_FMT,          "%s 处理失败 (%X)"
    IDS_E_GETTING_FMT,              "%s 获取失败"
    IDS_I_OPENING_FMT,              "打开 %s..."
    IDS_I_COMMITTING_FMT,           "提交 %s..."
    IDS_E_COMMITTING_FMT,           "%s 提交失败"
    IDS_HANDLER_ERROR,              "无法初始化处理程序"
    IDS_I_PATCHINPROGRESS,          "请等待更新处理完成"
    //IDS_E_CONFIG_NOT_READY,         "配置尚未就绪。\n请检查说明文档再试。" // DEV
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "自我更新已完成并将重新启动"
    IDS_E_PATCHISROTTEN,            "补丁处理失败，可能处于未定义状态，请稍后再试。"
    IDS_I18N_AUTHOR,                "梦天"
    //IDS_DEBUG_MPVIEW_ERROR_FMT,     "背景多媒体失败 (hr=0x%08X)" // DEV
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "删除 %s 中..."
    IDS_E_PATCHISROTTEN_USER,       "Patch process did not complete successfully. Please restart or try again later."
    IDS_E_CREATE_DESKTOP_LINK_FMT,  "Failed to create shortcut link on desktop (rune=%c, code=%08X)."
    IDS_E_START_CLIENT_EXTARGS_FMT, "Failed to process external arguments (rune=%c, code=%08X)."
END
