LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL  // TAIWAN

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDC_CHECKSAVE,                  "記住"
    IDC_STATUSBAR,                  ""
//  IDS_USERNAME,                   "Username:"
//  IDS_PASSWORD,                   "Password:"
//  IDS_CHECKSAVE,                  "Save"
    IDS_TITLE,                      "Elurair - Updater/Launcher"
    IDS_OK,                         "開始"
    IDS_CLOSE,                      "關閉"
    IDS_USER_NONE,                  "請輸入帳號，長度必須至少為 4 個字元。"
    IDS_USER_SHRT,                  "帳號長度必須至少為 4 個字元，請稍後再試。"
    IDS_PASS_NONE,                  "請輸入密碼，長度必須至少為 4 個字元。"
    IDS_PASS_SHRT,                  "密碼長度必須至少為 4 個字元，請稍後再試。"
    IDS_EXE_ERROR,                  "無法啟動客戶端.\n\nCommand Line:\n\t""%s"" %s\n\nLast Error:\n\t%s"
    IDS_CONFIG_ERROR,               "無法初始化配置"
    IDS_MISCINFO_PROMPT_PREFIX,     "每當您登入時，身份驗證憑據的一部分信息將提供給服務器。\n\n將共享以下信息:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "您同意提供這些信息嗎? 如果您選擇 'No'，您將無法登入，直到您同意為止。"
    IDS_MISCINFO_OPT_MACADDRESS,    "MAC 位址 (主網卡的硬件標識)"
    IDS_COINIT_ERROR,               "COM 初始化失敗"
    IDS_SALT_ERROR,                 "配置了指定 salt，但沒有指定密碼位置，無法登入。"
    IDS_SALT_SLASH_ERROR,           "配置了指定 salt，但轉義序列是錯誤的，無法登入。"
    IDS_OUTOFMEMORY,                "記憶體不足"
    IDS_E_THREADPOOL_CREATE,        "無法建立工作管理員"
    IDS_E_THREADPOOL_QUEUE,         "無法註冊補丁處理程序"
    IDS_I_THREADPOOL_STARTING,      "正在啟動補丁處理程序..."
    IDS_I_GETTING_FMT,              "獲取 %s..."
    IDS_E_WRITING_FMT,              "無法寫入 %s"
    IDS_E_OPENING_FMT,              "無法打開 %s"
    IDS_E_LISTPARSE_FMT,            "無法解析 %s 於第 %u 行"
    IDS_E_NOHAN_FMT,                "沒有處理程序 %s"
    IDS_I_COMPLETE,                 "更新完成"
    IDS_I_CREATING_FMT,             "建立 %s 中..."
    IDS_E_CREATING_FMT,             "%s 建立失敗"
    IDS_I_WRITING_FMT,              "寫入 %s 中..."
    IDS_I_UNPACKING_FMT,            "解壓 %s 中..."
    IDS_E_UNPACKING_FMT,            "%s 解壓失敗"
    IDS_I_PROCESSING_FMT,           "處理 %s 中..."
    IDS_E_PROCESSING_FMT,           "%s 處理失敗"
    IDS_E_GETTING_FMT,              "%s 獲取失敗"
    IDS_I_OPENING_FMT,              "打開 %s..."
    IDS_I_COMMITTING_FMT,           "提交 %s..."
    IDS_E_COMMITTING_FMT,           "%s 提交失敗"
    IDS_HANDLER_ERROR,              "無法初始化處理程序"
    IDS_I_PATCHINPROGRESS,          "請等待補丁處理完成"
    //IDS_E_CONFIG_NOT_READY,         "配置尚未就緒。\n請檢查說明文檔再試。" // DEV
    IDS_E_CONFIG_NOT_READY,         "Configuration is not ready.\nPlease check documentation and try again." // DEV
    IDS_I_SELFUPDATE,               "更新程式已更新並即將重新啟動"
    IDS_E_PATCHISROTTEN,            "補丁處理失敗，可能處於未定義狀態，請稍後再試。"
    IDS_I18N_AUTHOR,                "Hope22"
    //IDS_DEBUG_MPVIEW_ERROR_FMT,     "後台媒體失敗 (hr=0x%08X)" // DEV
    IDS_DEBUG_MPVIEW_ERROR_FMT,     "Background Media Failed (hr=0x%08X)." // DEV
    IDS_I_DELETING_FMT,             "刪除 %s 中..."
    IDS_E_PATCHISROTTEN_USER,       "Patch process did not complete successfully. Please restart or try again later."
    IDS_E_CREATE_DESKTOP_LINK,      "Failed to create shortcut link on desktop (rune=%c, code=%08X)."
END
